<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="d-flex">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>


    <ul class="navbar-nav me-auto mb-md-0">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" *ngIf="isAuthenticated" routerLink="/recipes">Recipes</a>
      </li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" *ngIf="!isAuthenticated" routerLink="/auth">Authenticate</a>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/shopping-list">Shopping List</a>
      </li>
    </ul>

    <ul class="navbar-nav d-flex gap-2">
      <div class=" nav-item dropdown" *ngIf="isAuthenticated">
        <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Manage
        </button>
        <ul appDropDown class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
          <li><a class="dropdown-item" style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
        </ul>
      </div>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" style="cursor: pointer;" (click)="onLogout()">Log out</a>
      </li>
    </ul>


  </div>
</nav>





